#slide_2{
    display: none;
}
.slide_1,
.slide_2{
    float: left;
    margin-right: 10px;
    cursor: pointer;

}
.news_slider li{
   width: 360px!important;
}
.slide_1.active,
.slide_2.active{
    border-bottom: 2px solid #177997;
}