.result-row form {
    clear: both;
    margin-top: 10px;
}
.result-row .sale-paysystem-wrapper {
    position: relative;
    padding: 0;
    margin: 0 -15px 0 0;
    border: none;
    font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #424956;
}
.result-row .sale-paysystem-yandex-button{
    margin: 0;
}